<html lang="en">
<%- include("../components/header") %>

  <body>
    <%- include("../components/nav.ejs") %>

      <div class="container mt-5">
        <h2 class="mb-3">All Blogs</h2>

        <% if (blogs.length> 0) { %> <% blogs.forEach(blog=> { %>
            <a href="/blogs/<%= blog._id %>" class="text-decoration-none">
              <div class="card p-3 mb-2">
                <h3 class="text-dark">
                  <%= blog.title %>
                </h3>
                <p class="text-dark">
                  <%= blog.description.slice(0, 20).concat("...") %>
                </p>
              </div>
            </a>
            <% }) %>
              <% } else { %>
                <p>There are no blogs to display...</p>
                <% } %>
      </div>

      <%- include("../components/footer.ejs") %>
  </body>

</html>